<ion-header-bar class="bar bar-header">
  <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
  <h1 class="title">Sobre</h1>
</ion-header-bar>
<ion-content padding="true" class="has-header" style="background-color:#30425C;">
<div class="logo-menu">
    <img src="img/logo2.png" width="60%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
  </div>
<div class="desc-doencas"style="font-size:20px;color:white">
	O aplicativo Saúde Em Foco representa um projeto de conclusão do curso de Ciência da Computação da Pontifícia Universidade Católica Do Rio Grande Do Sul (PUCRS), sendo os alunos Guilherme Gueths Petry e Lair Ipê da Silva os responsáveis pelo trabalho, orientados pelo professor Rafael Garibotti.
 </div>
 <div class="spacer" style="width: 100%; height: 50px;"></div> 
</ion-content>
