<ion-header-bar class="bar bar-header">
  <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
  <h1 class="title">Chikungunya</h1>
</ion-header-bar>
<ion-content>
  <div  style="background-color:#FFFFFF;">
  	<ion-item class="item-icon-left "  style="color:#D56488;font-size:17px;font-weight:bold;background-color:#E6B1B9">
  	    <i class="icon ion-checkmark-round"></i>Descrição
  	</ion-item>
  	<div class="desc-doencas">
  		Vírus primeiramente descrito em 1952, quando ocorreu uma epidemia na Tanzânia. Pode ser transmitido pelos mosquitos Aedes aegypti e o Aedes albopictus,
  		os mesmos que transmitem dengue e febre amarela.</br>
  		Ao contrário da dengue e Zika vírus, em que a maior parte dos casos são assintomáticos, na chikungunya
  		a maior parte dos casos apresentam sintomas, que aparecem em até 12 dias após a picada, sendo os mais comuns febre alta, manchas vermelhas no corpo, fortes dores nas articulações e músculos,
  		dor de cabeça e conjuntivite.</br>
  		A doença não possui tratamento, porém são utilizados remédios para melhorar os sintomas. O quadro da doença vai desaparecendo em até 10 dias, sendo que casos fatais são raros,
  		ocorrendo principalmente em pacientes debilitados ou mais idosos. Em janeiro de 2016, o ministério da saúde confirmou as 3 primeiras mortes pela doença no Brasil.</br>
  		O principal sintoma são as dores articulares, que podem persistir por mais de 1 ano após o diagnóstico, prejudicando bastante a qualidade de vida da pessoa.</br>
  		Quando uma pessoa é infectada, ela adquire imunidade pelo resto da vida ao vírus, ou seja, a doença se
  		manifesta no máximo 1 vez na vida de cada pessoa.
  	</div>
  	<div class="spacer" style="width: 100%; height: 30px;"></div>
  	<ion-item class="item-icon-left " style="color:#D56488;font-size:20px;font-weight:bold;background-color:#E6B1B9"  >
  	    <i class="icon ion-checkmark-round"></i>Visualização dos sintomas
  	</ion-item>
  	<div class="img-doencas">
  	    <img src="img/chicungunya.jpg">
      </div>
  </div>
</ion-content>
