<ion-header-bar class="bar bar-header">
  <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
  <h1 class="title">Dengue</h1>
</ion-header-bar>
<ion-content>
  <div  style="background-color:#FFFFFF;">
  	<ion-item class="item-icon-left "  style="color:#D56488;font-size:17px;font-weight:bold;background-color:#E6B1B9">
  	    <i class="icon ion-checkmark-round"></i>Descrição
  	</ion-item>
  	<div class="desc-doencas">
  		Doença dengue virótica que teve seu primeiro caso no Brasil identificado em 1986. Tem como principal transmissor o mosquito Aedes aegypti, embora existam casos de transmissão de gestantes para os bebês
  		e também por transfusões sanguíneas.</br>
  		A maior parte dos casos são assintomáticos. Quando existem sintomas, os mais comuns em adultos são febre alta, dor de cabeça, dores musculares, dor atrás dos olhos, manchas vermelhas no corpo e coceira.
  		Em crianças, geralmente além de febre ocorrem alguns sintomas comuns à outras doenças, como sono excessivo, recusa de alimentação, apatia, irritabilidade, choro, vômitos e diarreia.</br>
  		No quadro de dengue hemorrágica, caracterizada por um caso mais sério de dengue, após a remissão da febre, entre o terceiro e sétimo dia, ocorrem manifestações de hemorragia, como sangramento nasal,
  		gengival ou vaginal, entre outros.</br>
  		Existem casos graves da doença, que podem até levar o paciente a óbito. Alterações neurológicas, cardiorrespiratórias, dores abdominais que não passam, tonturas, vômito ou fezes com presença de sangue,
  		extremidades das mãos e pés azulados, entre outros sintomas, são indícios de casos mais graves da doença, e requerem tratamento imediato.</br>
  		O tratamento é apenas paliativo, ou seja, não existe uma forma direta de combater o vírus. São utilizados remédios para controlar os sintomas e combater a desidratação.</br>
  		Assim como em qualquer doença, a automedicação nunca é aconselhada. Nunca devem ser utilizados alguns tipos de medicamentos, como anti-inflamatórios, porque podem provocar sangramentos, trazendo grande risco ao paciente,
  		 principalmente nos casos de dengue hemorrágica.
  	</div>
  	<div class="spacer" style="width: 100%; height: 30px;"></div>
  	<ion-item class="item-icon-left " style="color:#D56488;font-size:20px;font-weight:bold;background-color:#E6B1B9"  >
  	    <i class="icon ion-checkmark-round"></i>Visualização dos sintomas
  	</ion-item>
  	<div class="img-doencas">
  	    <img src="img/dengue.jpg">
      </div>
  </div>
</ion-content>
