<ion-header-bar class="bar bar-header">
  <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
  <h1 class="title">Doenças</h1>
</ion-header-bar>
<ion-content>
  <ion-list>
      <ul class="list">
        <li>
          <a class="item" href="#/diseases">
            Chicungunya
          </a>
        </li>
        <li>
          <a class="item" href="#/">
            Dengue
          </a>
        </li>
        <li>
          <a class="item" href="#/">
            Zika
          </a>
        </li>
      </ul>
    </ion-list>
  </ion-content>
