<ion-header-bar class="bar bar-header">
  <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
  <h1 class="title">Teste de Sintomas</h1>
</ion-header-bar>
<ion-content ng-controller="SymptomsTestCtrl" style="background-color:#FFFFFF;">
  <div class="item item-body icon-left ion-clipboard" style="background-color:#CB5F5F;border-color:#CB5F5F; font-size:45px;color:#FFFFFF;text-align: center;font-weight:bold;">
  </div>
  <div class="item item-body testeSintomasResultado"style="background-color:#CB5F5F;border-color:#CB5F5F;">
     Você possui muitos sintomas característicos das doenças transmitidas pelo Aedes, principalmente da {{doencas}} indicando uma real possibilidade de infecção. Sugerimos que você procure imediatamente algum hospital para realizar um teste mais preciso.
     <div class="spacer" style="width: 200px; height: 10px;"></div>
  </div>

  <div class="aviso">
     Importante: este teste é apenas um indicativo e nunca deve substituir uma consulta com seu médico!
  </div>
  <button class="button button-dark button-block icon-left ion-medkit" style="color:white;width:90%;margin-left:5%;" ng-click="goMap()">Encontrar hospital</button>
  <div class="spacer" style="width: 100%; height: 30px;"></div>
  <a class="button button-assertive voltar"ng-click="goBack()">Voltar</a>
</ion-content>
