<ion-header-bar class="bar bar-header">
  <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
  <h1 class="title">Informacoes</h1>
</ion-header-bar>

<ion-content>
  <div class="card">
    <div class="item item-text-wrap">
      Chikungunya
    </div>
    <div class="item item-text-wrap">
      Dengue
    </div>
    <div class="item item-text-wrap">
      Febre Amarela
    </div>
    <div class="item item-text-wrap">
      Zika
    </div>
  </div>
</ion-content>
