<ion-header-bar class="bar bar-header">
  <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
  <h1 class="title">Mapa</h1>
</ion-header-bar>

<ion-content scroll="false">
  <map on-create="init(map)"></map>
</ion-content>

<ion-footer-bar class="bar-stable">
  <div class="tabs tabs-icon-top">
    <a ng-if="!isCreating" ng-click="displayCenter()" class="tab-item">
      <i class="icon ion-location"></i>
      Denunciar
    </a>
    <a ng-if="isCreating" ng-click="hideCenter()" class="tab-item">
      <i class="icon ion-location"></i>
      Cancelar
    </a>
    <a ng-click="goToHealthcarePlaces()" class="tab-item">
      <i class="icon ion-medkit"></i>
      Buscar Hospital
    </a>
    <a ng-click="centerOnMe()" class="tab-item">
      <i class="icon ion-pinpoint"></i>
      Atualizar Posição
    </a>
  </div>
</ion-footer-bar>
