<ion-header-bar>
  <h1 class="title">Local de Atendimento</h1>
</ion-header-bar>
<ion-content ng-init="init()">
  <div class="list card">
    <div class="item">
      <h2>{{ place.name }}</h2>
      <p>{{ place.vicinity }}</p>
    </div>

    <div class="item item-body">
      <img class="full-image" src="{{ getImageUrl(place) }}">
      <p>
        <button ng-if="!place.distanceMeasure" class="button button-small button-assertive">
          <i class="icon ion-close-round"></i>
          Rota não encontrada
        </button>
        <button ng-if="place.distanceMeasure" class="button button-small button-balanced">
          <i class="icon ion-arrow-graph-up-right"></i>
          {{ place.distanceMeasure }}
        </button>
        <button ng-if="place.transportDuration" class="button button-small button-dark">
          <i class="icon ion-model-s"></i>
          {{ displayTime(place.transportDuration) }}
        </button>
        <button class="button button-small button-dark" ng-if="place.waitingTime > 0">
          <i class="icon ion-clock"></i>
          {{ displayTime(place.waitingTime) }}
        </button>
      </p>
    </div>
  </div>
  <ion-item>
    <ion-label>Tempo de atendimento</ion-label>
    <!-- <ion-datetime displayFormat="HH:mm" ng-model="myDate"></ion-datetime> -->
    <input type="number" ng-model="waitingTime" />
  </ion-item>
</ion-content>
<ion-footer-bar align-title="center" class="bar-balanced">
  <h1 class="title">Informe seu tempo de atendimento</h1>
</ion-footer-bar>
