<ion-header-bar class="bar bar-header">
  <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
  <h1 class="title">Ocorrências por cidade</h1>
</ion-header-bar>

<ion-content ng-init="init()" style="background-color:#30425C;">
  <div class="list padding">
    <li class="item" ng-repeat="city in cityList">
      <h2>{{ city.name }}</h2>
      <p>{{ city.numberOfFocous }} focos | {{ city.numberOfCases }} casos | {{ city.numberOfAnswered }} respondidos</p>
    </li>
  </div>
</ion-content>
