<ion-header-bar class="bar bar-header">
  <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
  <h1 class="title">Teste de Sintomas</h1>
</ion-header-bar>

<ion-content style="background-color:#30425C;">
  <div class="img-coracao">
    <img src="img/imgCoracao.png">
  </div>
  <div class="frase-descritiva">
    Dengue, Zika e Chikungunya são as principais doenças transmitidas pelo Aedes Aegypti, sendo elas semelhantes em ralação aos sintomas presentes.
  </div>

  <div ng-show="slideIndex == 0" class="padding">
    <div style="color:white; font-size:17px; font-weight:bold;">
      Principais sintomas
    </div>

    <label class="item item-input">
      <div class="input-label">
         <i class="icon ion-ios-body" ng-if="perguntas[0].label=='Sem febre'"style="color:#3D496F;"></i>
         <i class="icon ion-ios-body" ng-if="perguntas[0].label!='Sem febre'" style="color:red;"></i>
         Febre
      </div>
      <select ng-model="perguntas[0].label" >
         <option>Sem febre</option>
         <option selected>Abaixo de 39 graus</option>
         <option>Acima de 39 graus</option>
      </select>
    </label>

    <label class="item item-input item-select">
      <div class="input-label">
         <i class="icon ion-ios-body" ng-if="perguntas[1].label=='Sem dor'"style="color:#3D496F;"></i>
         <i class="icon ion-ios-body" ng-if="perguntas[1].label!='Sem dor'" style="color:red;"></i>
         Dor articular
      </div>
      <select ng-model="perguntas[1].label">
       <option>Sem dor</option>
       <option selected>Dor articular moderada</option>
       <option>Dor articular intensa</option>
      </select>
    </label>

    <label class="item item-input item-select">
     <div class="input-label">
       <i class="icon ion-ios-body" ng-if="perguntas[2].label=='Sem inchaço'"style="color:#3D496F;"></i>
       <i class="icon ion-ios-body" ng-if="perguntas[2].label!='Sem inchaço'" style="color:red;"></i>
       Inchaço articular
     </div>
     <select ng-model="perguntas[2].label">
       <option>Sem inchaço</option>
       <option selected>Inchaço moderado</option>
       <option>Inchaço severo</option>
     </select>
    </label>

    <label class="item item-input item-select">
     <div class="input-label">
       <i class="icon ion-ios-body" ng-if="perguntas[3].label=='Sem dor'"style="color:#3D496F;"></i>
       <i class="icon ion-ios-body" ng-if="perguntas[3].label!='Sem dor'" style="color:red;"></i>
       Dor muscular
     </div>
     <select ng-model="perguntas[3].label">
       <option>Sem dor</option>
       <option selected>Dor muscular moderada</option>
       <option>Dor muscular intensa</option>
     </select>
    </label>

    <div align="right">
      <button class="button button-clear button-balanced button-right no-animation icon-right ion-chevron-right slide-next"style="font-size:15px;font-weight:bold;" ng-click="changeView(1)">
        Selecionar outros sintomas
      </button>
    </div>
    <div style="padding-top: 20px;">
      <button ng-click="limparCampos(perguntas)" class="button button-block button-royal">Limpar campos</button>
      <button ng-click="teste(perguntas)" class="button button-block button-assertive">Verificar possibilidade de infecção</button>
    </div>
  </div>

  <div ng-show="slideIndex == 1" class="padding">
    <div align="left" style="padding-left:10px;">
      <button class="button button-clear button-balanced button-left no-animation slide-back icon-left ion-chevron-left" style="font-size:15px;font-weight:bold;"
      ng-click="changeView(0)" ng-show="slideIndex == 1">
      Voltar
      </button>
    </div>

    <item class="item item-toggle ">
      <i class="icon ion-ios-body" ng-if="!perguntas[4].label"style="color:black;"></i>
      <i class="icon ion-ios-body" ng-if="perguntas[4].label"style="color:red;"></i>
       Dor de cabeça
        <label class="toggle  toggle-positive" >
         <input ng-model="perguntas[4].label"type="checkbox">
         <div class="track">
          <div class="handle"></div>
         </div>
        </label>
    </item>

    <item class="item item-toggle ">
        <i class="icon ion-ios-body" ng-if="!perguntas[5].label"style="color:black;"></i>
        <i class="icon ion-ios-body" ng-if="perguntas[5].label"style="color:red;"></i>
         Manchas vermelhas no corpo
        <label class="toggle  toggle-positive" >
        <input ng-model="perguntas[5].label"type="checkbox">
        <div class="track">
          <div class="handle"></div>
        </div>
       </label>
    </item>

   <item class="item item-toggle ">
      <i class="icon ion-ios-body" ng-if="!perguntas[6].label"style="color:black;"></i>
      <i class="icon ion-ios-body" ng-if="perguntas[6].label"style="color:red;"></i>
         Cansaço
         <label class="toggle  toggle-positive" >
             <input ng-model="perguntas[6].label"type="checkbox">
             <div class="track">
                 <div class="handle"></div>
             </div>
         </label>
    </item>

   <item class="item item-toggle ">
     <i class="icon ion-ios-body" ng-if="!perguntas[7].label"style="color:black;"></i>
     <i class="icon ion-ios-body" ng-if="perguntas[7].label"style="color:red;"></i>
       Dor atrás dos olhos
       <label class="toggle  toggle-positive" >
           <input ng-model="perguntas[7].label"type="checkbox">
           <div class="track">
               <div class="handle"></div>
           </div>
       </label>
   </item>

   <item class="item item-toggle ">
    <i class="icon ion-ios-body" ng-if="!perguntas[8].label"style="color:black;"></i>
    <i class="icon ion-ios-body" ng-if="perguntas[8].label"style="color:red;"></i>
       Glânglios linfáticos aumentados
       <label class="toggle  toggle-positive" >
           <input ng-model="perguntas[8].label"type="checkbox">
           <div class="track">
               <div class="handle"></div>
           </div>
       </label>
   </item>

   <item class="item item-toggle ">
    <i class="icon ion-ios-body" ng-if="!perguntas[9].label"style="color:black;"></i>
    <i class="icon ion-ios-body" ng-if="perguntas[9].label"style="color:red;"></i>
       Conjuntivite
       <label class="toggle  toggle-positive" >
           <input ng-model="perguntas[9].label"type="checkbox">
           <div class="track">
               <div class="handle"></div>
           </div>
       </label>
   </item>

   <item class="item item-toggle ">
    <i class="icon ion-ios-body" ng-if="!perguntas[10].label"style="color:black;"></i>
    <i class="icon ion-ios-body" ng-if="perguntas[10].label"style="color:red;"></i>
       Fotofobia
       <label class="toggle  toggle-positive" >
           <input ng-model="perguntas[10].label"type="checkbox">
           <div class="track">
               <div class="handle"></div>
           </div>
       </label>
   </item>

   <item class="item item-toggle ">
    <i class="icon ion-ios-body" ng-if="!perguntas[11].label"style="color:black;"></i>
    <i class="icon ion-ios-body" ng-if="perguntas[11].label"style="color:red;"></i>
       Sangramento
       <label class="toggle  toggle-positive" >
           <input ng-model="perguntas[11].label"type="checkbox">
           <div class="track">
               <div class="handle"></div>
           </div>
       </label>
   </item>

  <item class="item item-toggle ">
    <i class="icon ion-ios-body" ng-if="!perguntas[12].label"style="color:black;"></i>
    <i class="icon ion-ios-body" ng-if="perguntas[12].label"style="color:red;"></i>
       Nausea
       <label class="toggle  toggle-positive" >
           <input ng-model="perguntas[12].label"type="checkbox">
           <div class="track">
               <div class="handle"></div>
           </div>
       </label>
   </item>
  </div>
</ion-content>
<!-- <ion-footer-bar class="bar bar-footer bar-positive">
  <h1 class="title">Testar</h1>
</ion-footer-bar> -->
