<ion-header-bar class="bar bar-header">
  <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
  <h1 class="title">Teste de Sintomas</h1>
</ion-header-bar>

<ion-content>
  <div class="list">
    <label class="item item-input item-select">
      <div class="input-label">
        Febre
      </div>
      <select>
        <option>A cima de 38</option>
        <option>Abaixo de 38</option>
        <option>Sem febre</option>
      </select>
    </label>

    <label class="item item-input item-toggle">
      <div class="input-label">
        Dor de cabeca
      </div>
      <label class="toggle toggle-assertive">
      <input type="checkbox">
        <div class="track">
          <div class="handle"></div>
        </div>
      </label>
    </label>

    <label class="item item-input item-select">
      <div class="input-label">
        Manchas vermelhas
      </div>
      <select>
        <option>Sim, com forte coceira</option>
        <option>Sim, com leve coceira</option>
        <option>Sem manchas</option>
      </select>
    </label>

    <label class="item item-input item-toggle">
      <div class="input-label">
        Olhos vermelhos
      </div>
      <label class="toggle toggle-assertive">
      <input type="checkbox">
        <div class="track">
          <div class="handle"></div>
        </div>
      </label>
    </label>

    <label class="item item-input item-toggle">
      <div class="input-label">
        Dor nos olhos
      </div>
      <label class="toggle toggle-assertive">
      <input type="checkbox">
        <div class="track">
          <div class="handle"></div>
        </div>
      </label>
    </label>

    <label class="item item-input item-toggle">
      <div class="input-label">
        Olhos sensiveis a claridade
      </div>
      <label class="toggle toggle-assertive">
      <input type="checkbox">
        <div class="track">
          <div class="handle"></div>
        </div>
      </label>
    </label>

    <label class="item item-input item-select">
      <div class="input-label">
        Dor muscular
      </div>
      <select>
        <option>Sim, forte dor</option>
        <option>Sim, leve dor</option>
        <option>Sem dor</option>
      </select>
    </label>

    <label class="item item-input item-select">
      <div class="input-label">
        Dor articular
      </div>
      <select>
        <option>Sim, forte dor</option>
        <option>Sim, leve dor</option>
        <option>Sem dor</option>
      </select>
    </label>

    <label class="item item-input item-toggle">
      <div class="input-label">
        Casaco
      </div>
      <label class="toggle toggle-assertive">
      <input type="checkbox">
        <div class="track">
          <div class="handle"></div>
        </div>
      </label>
    </label>

    <label class="item item-input item-toggle">
      <div class="input-label">
        Sangramento
      </div>
      <label class="toggle toggle-assertive">
      <input type="checkbox">
        <div class="track">
          <div class="handle"></div>
        </div>
      </label>
    </label>

    <label class="item item-input item-toggle">
      <div class="input-label">
        Vomito
      </div>
      <label class="toggle toggle-assertive">
      <input type="checkbox">
        <div class="track">
          <div class="handle"></div>
        </div>
      </label>
    </label>

    <label class="item item-input item-select">
      <div class="input-label">
        Articulacoes inchadas
      </div>
      <select>
        <option>Sim, muito inchaco</option>
        <option>Sim, pouco inchaco</option>
        <option>Sem inchaco</option>
      </select>
    </label>
  </div>
</ion-content>

<ion-footer-bar class="bar bar-footer bar-positive">
  <h1 class="title">Testar</h1>
</ion-footer-bar>
