<ion-header-bar class="bar bar-header">
  <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
  <h1 class="title">Zika</h1>
</ion-header-bar>
<ion-content>
  <div  style="background-color:#FFFFFF;">
	<ion-item class="item-icon-left "  style="color:#D56488;font-size:17px;font-weight:bold;background-color:#E6B1B9">
	    <i class="icon ion-checkmark-round"></i>Descrição
	</ion-item>
	<div class="desc-doencas">
		Zika é um vírus que pertence à família Flaviviridae. Assim como os vírus da dengue e da febre amarela, ele é transmitido predominantemente através do mosquito Aedes aegypti, embora a transmissão por outras formas, como transfusão sanguínea e relações sexuais, estão sendo estudas para averiguar o real risco de contaminação.</br>
		O vírus recebe esse nome em referência ao local onde foi originalmente descoberto, a floresta Zika, em Uganda. A partir daí, se espalhou por várias regiões da África e Ásia, atingindo também a Oceania.
		Recentemente, começaram a surgir casos no continente Americano, inclusive no Brasil.</br>
		Não são todos os casos de infecção pelo vírus que apresentam sintomas, sendo apenas cerca de 20\%
		dos casos sintomáticos. Quando os sintomas aparecem, os mais frequentemente encontrados são febre, dores de cabeça, dores nas articulações, manchas na pele e conjuntivite.</br>
		Geralmente, a doença tem um curso benigno, com os sintomas desaparecendo em até 1 semana.</br>
		Atualmente, ainda não existe um tratamento efetivo, assim como vacinas ainda não foram desenvolvidas. São recomendados remédios para controle da febre e dores, até os sintomas desaparecerem.</br>
		O ministério da saúde já confirmou o envolvimento do Zica vírus com outro problema crescente entre gestantes no Brasil, principalmente gestantes com até 3 meses de gravidez, a microcefalia. Ela pode ser descrita como uma má formação congênita do cérebro do feto.
		Isso pode acarretar em sequelas, como algum retardo mental, ou até levar a criança a óbito em
		casos graves.
	</div>
	<div class="spacer" style="width: 100%; height: 30px;"></div>
	<ion-item class="item-icon-left " style="color:#D56488;font-size:20px;font-weight:bold;background-color:#E6B1B9"  >
	    <i class="icon ion-checkmark-round"></i>Visualização dos sintomas
	</ion-item>
	<div class="img-doencas">
	    <img src="img/zika.jpg">
	</div>
<div>
</ion-content>
